@charset "utf-8";
body {
	margin: 0;
	padding: 0;
	position: relative;
	width: 100%;
	min-width: 360px;
	height: auto;
	box-sizing: border-box;
}

span, 
input[type="text"], 
input[type="button"] {
	display: inline-block; 
	box-sizing: border-box;
}

div {
	display: block;
	position: relative;
	box-sizing: border-box;
}

.row {
	display: inline-block;
	text-align: center;
	width: 100%;
}
.header {
	width: 100%;
	
}
.footer {
	width: 100%;
	color: #b3b3b9;
}
.col {
	display: inline-block;
	float: none;
	text-align: center;
	vertical-align: top;
	box-sizing: border-box;
}
.col.full {
	width: 100%;
}
.col.question {
	max-width: 65%;
}
.col.choices {
/*	if only displaying a single quesiton, we should probably vertical-align middle this*/
	max-width: 33%;
}
.footer ul {
	display: inline-block;
	box-sizing: border-box;
}
.footer li {
	display: inline-block;
	list-item-style: none;
	border-left: 1px solid #d7d7d7;
	padding: 0 10px;
}
.footer li:first-child {border-left: none;}
.footer a {color: #b3b3b9;}

.card {
	display: inline-block;
	vertical-align: middle;
	border-radius: 3px;
	float: none;

	padding: 1%;
	margin: 1%;
	background: rgba(66, 128, 164, 0.66);
}
.card.current {
	background: rgba(0, 128, 164, 1);
	width: 100%;
	height: auto;
	min-height: 200px;
	font-size: 48px;
}
.card.answered {
	
}
.card.correct {
	
}
.card.incorrect {
	
}
.choices label {
	/*display: inline-block;*/
	display: none;
	float: none; clear: none;
	min-width: 50%; max-width: 80%;
	height: auto;
	vertical-align: middle;
	padding: 10px 0;
}
.choices input {
	/*display: inline-block;*/
	display: none;
	float: none; clear: none;
	width: 18%;
	vertical-align: middle;
}
.choices input.display-true, .choices label.display-true {
	display: inline-block;
}

.display-none {display: none;}
