@charset "utf-8";
body {
	margin: 0;
	padding: 0;
	position: relative;
	width: 100%;
	/*min-width: 360px;*/
	height: auto;
	box-sizing: border-box;
}

span, 
input[type="text"], 
input[type="button"] {
	display: inline-block; 
	box-sizing: border-box;
}

div {
	display: block;
	position: relative;
	box-sizing: border-box;
}

.row {
	display: inline-block;
	text-align: center;
	width: 100%;
}

.col {
	display: inline-block;
	float: none;
	text-align: center;
	vertical-align: top;
}

.card {
	display: inline-block;
	vertical-align: middle;
	border-radius: 3px;
	float: none;

	padding: 1%;
	margin: 1%;
	background: rgba(0, 128, 164, 0.66);
}