<html>
<head>
  <meta charset="utf-8">
  <title>Jasmine Spec Runner</title>
  
  <script>
  (function() {
	  var head = document.getElementsByTagName("head")[0];
	  var script = document.createElement("script");
	  // var firstScript = head.getElementsByTagName("script")[0];
	  // console.log(firstScript);
	  script.src = "test.js";
	  // head.insertBefore(script, firstScript);
	  head.appendChild(script);
	  
	  script.addEventListener("load", followup, false);
	  
	  function followup(e) {
		  console.log(e);
		  var test = testScript;
		  console.log("test: ", test);
	  }
	  
  })();
  </script>
  
<% css.forEach(function(style){ %>
  <link rel="stylesheet" type="text/css" href="<%= style %>">
<% }) %>
<% with (scripts) { %>
  <% [].concat(polyfills, jasmine, boot, vendor, helpers).forEach(function(script){ %>
  <script src="<%= script %>"></script>
  <% }) %>
<% }; %>


</head>
<body>
	<div class="row header" id="mainHeader"></div>
	
	<div class="row"><h1 class="col full"> Alphabet Flashcards</h1>
		
		<fieldset class="col question" id="gameControls"><legend>Game Controls</legend>
			<form id="gcontrols" name="controls">
				<input type="button" value="Reset Game" id="ctrlReset" />
				<input type="button" value="Skip Question" id="ctrlSkip" />
				<input type="button" value="Prevoius Question" id="ctrlPrev" />
				
				<fieldset id="fieldDifficulty"><legend>Difficulty</legend>
					<label for="ctrlDiffBasic">Basic</label>
					<input type="radio" value="Basic" id="ctrlDiffBasic" name="ctrlDifficulty" checked>
					<label for="ctrlDiffAdvanced">Advanced</label>
					<input type="radio" value="Advanced" id="ctrlDiffAdvanced" name="ctrlDifficulty" />
					<label for="ctrlUseVowels">Enable vowels</label>
					<input type="checkbox" value="Vowels" id="ctrlUseVowels" name="ctrlVowels" />
				</fieldset>
				
				<fieldset id="fieldGameType"><legend><span id="difficultyTypeText"></span>Game Type</legend>
					<select id="ctrlTypeBasic" value="">
						<option value="char2Trans" selected>Transliteration of character</option>
						<option value="trans2Char">Character of transliteration</option>
						<option value="sound2Char">Character to sound</option>
					</select>
					<select id="ctrlTypeAdvanced" value="">
						<option value="charform2Initial" selected>Initial form of contextual form</option>
						<option value="trans2Charform">Character form of transliteration</option>
						<option value="sound2Charform">Character form of audio</option>
					</select>
				</fieldset>
			</form>
		</fieldset>
		
		<fieldset class="col question" id="cardTable"><legend>Card</legend></fieldset>
		
		<fieldset class="col choices" id="choiceColumn"><legend>Choose an answer</legend><h2 id="gameTypeHeading"></h2></fieldset>
	</div>
	<div class="row footer" id="mainFooter"><dl><dt class="copyright">&copy; <span id="copyrightYear"></span></dt></dl></div>
	
	
<% with (scripts) { %>
  <% [].concat(src, specs, reporters).forEach(function(script){ %>
  <script src="<%= script %>"></script>
  <% }) %>
<% }; %>
</body>
</html>