.row {
	position: relative;
	float: none;
	display: inline-block;
	overflow-y: auto;
	background: #ccf;
	min-height: 20px;
	min-width: 200px;
	border: 1px solid #000;
}
.col {
	overflow-y: auto;
	min-height: 20px;
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
}
.col.question {
	width: 66%;
}
.col.choices {
	width: 33%;
}
.col.full {
	width: 100%;
}
.card {
	max-width: 90px;
	display: inline-block;
	vertical-align: top;
	background: grey;
	border: 1px solid cyan;
}
.collapsed {
	overflow: hidden;
}
.collapsed.vertical {
	height: 20px;
}
.collapsed.horizontal {
	width: 30px;
}
.expand {
	position: absolute;
	top: 0;
}
